In [1]:
import pandas as pd 
import numpy as np

In [8]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'], columns=['Colums1','Colums2','Colums3','Column4'])

In [9]:
df.head()

      Colums1  Colums2  Colums3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19