In [1]:
import pandas as pd 
import numpy as np

In [21]:
df=pd.DataFrame(np.arange(0,40).reshape(10,4),index=['Row1','Row2','Row3','Row4','Row5','Row6','Row7','Row8','Row9','Row10'], columns=['Colums1','Colums2','Colums3','Column4'])

In [25]:
df.head()

      Colums1  Colums2  Colums3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [26]:
df.to_csv("Aryannew.csv")

In [28]:
type(df.loc['Row1'])

pandas.core.series.Series

In [31]:
type(df.iloc[:,1:])

pandas.core.frame.DataFrame

In [40]:
df.iloc[1:2,]

      Colums1  Colums2  Colums3  Column4
Row2        4        5        6        7

##

In [43]:
df.iloc[0:2,0:3]

      Colums1  Colums2  Colums3
Row1        0        1        2
Row2        4        5        6

In [46]:
df.iloc[:,1:].values.shape

(10, 3)

In [47]:
df=pd.read_csv('Aryannew.csv')

In [48]:
df.head()

          Colums1  Colums2  Colums3  Column4
0  Row1         0        1        2        3
1  Row2         4        5        6        7
2  Row3         8        9       10       11
3  Row4        12       13       14       15
4  Row5        16       17       18       19

In [50]:
df.isnull().sum()

           0
Colums1    0
Colums2    0
Colums3    0
Column4    0
dtype: int64

In [12]:
df['Colums3'].unique()

array([ 2,  6, 10, 14, 18])